body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 900px;
    margin: 0 auto;
}
.artist-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.artist-card{
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(241, 241, 241);
    padding:20px;
    border-radius: 10px;
}
.artist-card a {
    color:rgb(47, 47, 47);
    text-decoration: none;
}

.artist-card a:hover{
    text-decoration: underline;
}
.artist-card h1, 
h2{
    font-size: 1.5em;;
    margin:5px 0px;
    text-align: center;
}
.artist-card p {
    font-size: 1.2em;
    text-align: center;
}


.thumbnail-img{
    width: 200px;
    height:200px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left:22px;
}
nav {
    background-color:rgba(202, 171, 171, 0.979);
    border-radius: 10px;
}
nav li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    margin-left:210px;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover{
    color:rgba(241, 213, 213, 0.979);
}
.current{
 font-weight: bold;
}

.loader{
    position: relative;
    top:200px;
    left:150px;
    margin:0em 15em;
    border:15px solid rgb(212, 212, 212);
    border-top:15px solid rgb(251, 163, 0);
    border-radius: 50%;
    width:100px;
    height:100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.artist-detail-container h1{
    text-align: center;
    margin-top: 50px;
}
.details-img{
    width:400px;
    height:400px;
    background-size: cover;
    border-radius: 5%;
}

.artist-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.artist-info{
    padding:20px;
}

form{
    padding:2em;
    border-radius: 1em;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(231, 231, 231);
}

input {
    width: 100%;
    margin: 5px 0px;
    padding:10px;
    font-size:1em;
    border-radius: .1em;
}

button {
    background-color: rgb(38, 121, 177);
    border:none;
    width:200px;
    padding:1em;
    color: rgb(246, 246, 246);
    border-radius: .2em;
    margin-top:5px;
}