body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: 0 auto;
}
.artist-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.artist-card{
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(241, 241, 241);
    padding:20px;
    border-radius: 10px;
}
.artist-card h1, 
h2{
    font-size: 1.5em;;
    margin:5px 0px;
}
.artist-card p {
    font-size: 1.2em;

}


.thumbnail-img{
    width: 200px;
    height:200px;
    border-radius: 50%;
}
nav {
    background-color:gray;
    border-radius: 10px;
}
nav li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left:120px;
}
